[submodule "lib-vau"]
	path = lib-vau
	url = https://github.com/med-united/lib-vau.git
	branch = main
[submodule "api-telematik"]
	path = api-telematik
	url = https://github.com/med-united/api-telematik.git
	branch = OPB5
[submodule "lib-cetp"]
	path = lib-cetp
	url = https://github.com/med-united/lib-cetp.git
	branch = main

