[Unit]
Description=ePA for All Service
[Service]
User=root
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/opt/epa4all

#path to executable. 
#executable is a bash script which calls jar file
ExecStart=/opt/epa4all/run.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
